<h2>Stats</h2>
<p>Approved: <%= @approved_typographies.count %></p>
<p>Unapproved: <%= @unapproved_typographies.count %></p>
<p>Total: <%= @typographies.count %></p>
<table>
  <thead>
    <tr>
      <% @typographies.each do |t| %>
      <td><%= t.title %></td>
      <td><img src= "<%= t.url %>" width="150" height="150" /></td>
      <td><%= t.source %></td>
      <td>Included:<%= t.include %></td>
      <td>User email: <%= t.user.email %></td>
      <%if @current_user.admin? %>
      <td><%= link_to 'Edit', edit_typography_path(t) %></td> 
      <td><%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %></td     
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% end %>

</table>

<br>
<%if @current_user.admin? %>
<strong>Admin Section | Unapproved/Awaiting Approval</strong>
<table>
  <thead>
    <tr>
      <% @unapproved_typographies.each do |t| %>
      <td><%= t.title %></td>
      <td><img src= "<%= t.url %>" width="150" height="150" /></td>
      <td><%= t.source %></td>
      <td>Included:<%= t.include %></td>
      <td><%= link_to 'Edit', edit_typography_path(t) %></td> 
      <td><%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %></td     
      <th colspan="3"></th>
    </tr>
  </thead>
  <% end %>

</table>




    
  <h1>Listing Approved</h1>
      <ul>
        <% @approved_typographies.each do |t| %>
        <li><%= t.title %></li>
    <% end %>
      </ul>

  <h1>Listing Unapproved</h1>
      <ul>
        <% @unapproved_typographies.each do |t| %>
        <li><%= t.title %></li>
    <% end %>
    </ul>
<%end%>

</table>
<%= link_to 'New Typography', new_typography_path %>
