<%= form_for(@typography) do |f| %>
  <% if @typography.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@typography.errors.count, "error") %> prohibited this typography from being saved:</h2>

      <ul>
      <% @typography.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
   <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <% if @typography.include == "no" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% else%>
<strong>Once it's approved, you cannot edit anymore</strong>
<p>If you think there's an issue with this api, email the admin</p>
<% end %>
  
  
  
  
<% end %>