<p id="notice"><%= notice %></p>

<h1>Listng All Typographies</h1>
<h2>Stats</h2>
<p>Approved: <%= @approved_typographies.count %></p>
<p>Unapproved: <%= @unapproved_typographies.count %></p>
<p>Total: <%= @typographies.count %></p>
<table>
  <thead>
    <tr>
      <% @typographies.each do |t| %>
      <td><%= t.title %></td>
      <td><img src= "<%= t.url %>" width="150" height="150" /></td>
      <td><%= t.source %></td>
      <td>Included:<%= t.include %></td>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% end %>

</table>

<br>

<h1>Listing Approved</h1>
    <ul>
      <% @approved_typographies.each do |t| %>
      <li><%= t.title %></li>
  <% end %>
    </ul>

<h1>Listing Unapproved</h1>
    <ul>
      <% @unapproved_typographies.each do |t| %>
      <li><%= t.title %></li>
  <% end %>
  </ul>

</table>
<%= link_to 'New Typography', new_typography_path %>
