<p id="notice"><%= notice %></p>

<h1>Listing Typographies</h1>
<table>
  <thead>
    <tr>
      <% @typographies.each do |t| %>
      <td><%= t.title %></td>
      <td><%= t.url %></td>
      <td><%= t.source %></td>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% end %>

 
</table>

<br>

<%= link_to 'New Typography', new_typography_path %>
