<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @typography.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @typography.url %>
</p>

<p>
  <strong>Source:</strong>
  <%= @typography.source %>
</p>

<p>
  <strong>Include in API:</strong>
  <%= @typography.include %>
</p>

<%= render 'message/apiEdit' %>

<%= link_to 'Edit', edit_typography_path(@typography) %> |
<%= link_to 'Back', typographies_path %>
