<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @typography.title %>
</p>

<p>
  <strong>Include in API:</strong>
  <%= @typography.include %>
</p>

<% if !@typography.image_url %>
<strong>* This record has NO IMAGE</strong>. You need to upload an image.*
<% end %>
<h4>Thumb:</h4>
<p>
  <%= image_tag (@typography.image_url(:thumb).to_s) %>
</p>

<h4>Preview:</h4>
<p>
  <%= image_tag (@typography.image_url(:preview).to_s) %>
</p>

<h4>Full Image</h4>
<%= link_to "View in new window", @typography.image_url(:full).to_s, target: '_blank' %> <br> <br>

<%= render 'message/apiEdit' %>

<%= link_to 'Edit', edit_typography_path(@typography) %> |
<%= link_to 'Back', typographies_path %>
